body, ul, li, div {
  font-family: 'EB Garamond', serif;
}

nav, footer, .nav-link {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.list-group-item, .list-group{
  height: 250px;
}

.card{
  height:200px;
}
