{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<section id="about" style="margin-top:60px">
  <div class="container">
    <div class="row">
      <p> </p>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h2 class="text-uppercase">About</h2>
        <hr class="star-light mb-5">
        <p class="lead"> We are the team Spatial Froce.</p>
        <div class="card-group">
          <div class="card border-light" style="width: 18rem;">
            <img class="card-img-top img-thumbnail" src="https://www.ischool.berkeley.edu/sites/default/files/styles/profile_photo/public/profile_pictures/17060291_0908480818you_-ok.jpg?itok=BwLfmFJ3&c=7b13963329d5640bdebcef5eb5827856" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">Jeffery</p>
            </div>
          </div>
          <div class="card border-light" style="width: 18rem;">
            <img class="card-img-top img-thumbnail" src="https://www.ischool.berkeley.edu/sites/default/files/styles/profile_photo/public/profile_pictures/_mg_9650.jpg?itok=olQRRedM&c=a55dbb478d5b6b1de586d65382e1f98e" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">Mahmoud</p>
            </div>
          </div>
          <div class="card border-light" style="width: 18rem;">
            <img class="card-img-top img-thumbnail" src="https://www.ischool.berkeley.edu/sites/default/files/styles/profile_photo/public/profile_pictures/image1_0.jpg?itok=hheexDtB&c=aa2970d0d8ff85d1b20a1fb10f5ddc51" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">Tanya</p>
            </div>
          </div>
          <div class="card border-light" style="width: 18rem;">
            <img class="card-img-top img-thumbnail" src="https://www.ischool.berkeley.edu/sites/default/files/styles/profile_photo/public/profile_pictures/img_9315.jpg?itok=fnXY07pl&c=21d69c27d19c2b86f15ffdde443c8d01" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">Winnie</p>
            </div>
          </div>

      </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</section>

{% endblock %}
