{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<!-- Header -->
<!-- Welcome page -->
<section id="home" style="margin-top:60px">
  <header class="masthead bg-transparent text-white text-center" style="margin-top:60px">
    <div class="container">
      <!-- <img class="img-fluid mb-5 d-block mx-auto" src="" alt=""> -->
      <br><br>
      <img href="search" src="../static/img/waterman.png" height="500"></img>
      <br><br>
      <h1 class="text-uppercase mb-0 text-info">Spatial Force</h1>
      <!-- <hr class="star-light"> -->
      <h2 class="font-weight-light mb-0 text-info">Help you to discover the geographical data.</h2>
      <br>
    </div>
  </header>
</section>

{% endblock %}
