{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<!-- Header -->
<!-- Welcome page -->
<section id="home" style="margin-top:60px">
  <header class="masthead bg-transparent text-white text-center">
    <div class="container">
      <img href="search" src="../static/img/california.png" height="450"></img>
      <br>
      <h2 class="text-uppercase mb-0 text-info font-weight-bold">Spatial Force</h2>
      <!-- <hr class="star-light"> -->
      <h4 class="font-weight-light mb-0 text-info">Help you to discover the geographical data in California.</h4>
      <br>
    </div>
  </header>
</section>

{% endblock %}
