{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<section class="bg-light" id="search" style="margin-top:60px">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h2>Search</h2>
        <p>Type a zipcode and search:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
      </div>
    </div>
    <div class="row">
      <p>
      </p>
    </div>

    <div class="row">
      <div class="col-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">House Value</h5>
            <p class="card-text">change to the value later.</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Income</h5>
            <p class="card-text">change to the value later.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Race</h5>
            <p class="card-text">change to the value later.</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">change to the value later.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
